// promenljive
@use 'variables' as*;

/* Primary Button */
@use 'primary-btn';

/* Navbar */
@use 'header';

/* General Styles */
@use 'content';

/* Main Section */
@use 'main';

/* Features & Plans Sections */
.features {
    background: #f3f3f3;
}

.center-section {
    text-align: center;
    padding: 50px 10px;
}

.card-list {
    display: flex;
    justify-content: space-between;

    @include responsive ($breakpoint-medium) {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .card {
        background: white;
        padding: 20px;
        width: 27%;
        border-radius: 10px;
        box-shadow: $button-box-shadow;

        @include responsive ($breakpoint-medium) {
            width: 80%;
        }
    }
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}